[alias]
	co = checkout
	st = status -s
	df = diff --word-diff=color
	df-narrow = diff --word-diff=color --word-diff-regex=.

[user]
	name = tanakayuki
	email = a0673040@gmail.com
[core]
	excludesfile = ./.gitignore
	pager = lv -c
[diff]
	tool = vimdiff
