/*
/.*
!/.gitconfig
!/.gitignore
!/.inputrc
!/.screenrc
!/.minttyrc
!/.vimrc
!/.vim
!/.zshrc
!/.zshrc.cygwin
!/.ctags
!/bin
!/makeLnkToHome.sh
/.vim/view
/.vim/doc/tags
/.vim/doc/tags-ja
/.vim/.netrwhist
