/*
/.*
!/.gitconfig
!/.gitignore
!/.inputrc
!/.screenrc
!/.minttyrc
!/.vimrc
!/.vim
/.vim/view/
!/.zshrc
!/.zsh
!/.zshrc.cygwin
!/.ctags
!/.zshrc.unix
!/.dir_colors
!/bin
!/makeLnkToHome.sh
!/.w3m
!/.tmux.conf
/.vim/view
/.vim/doc/tags
/.vim/doc/tags-ja
/.vim/.netrwhist
/.vim/bundle/
!/.vim/bundle/neobundle.vim
