[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-rectinsert"]
	path = .vim/bundle/vim-rectinsert
	url = https://github.com/hekyou/vim-rectinsert.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-altercmd"]
	path = .vim/bundle/vim-altercmd
	url = https://github.com/tyru/vim-altercmd.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/neocomplcache-snippets-complete"]
	path = .vim/bundle/neocomplcache-snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
