[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
