[alias]
  ########## Refer: http://d.hatena.ne.jp/os0x/20120220/1329750795

	#### checkout長い…
	co = checkout

	#### シンプルなstatus
	st = status -sb

	#### pull するときにmergeコミットを作らない
	pr = pull --rebase

	#### branchでfoしてroすればmasterにrebaseできる
	fo = fetch origin
	ro = rebase origin

	#### 単語単位のdiff
	rc = rebase --continue
	wd = diff --word-diff

	lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches

	df = diff --color-words

[user]
	name = tanakayuki
	email = a0673040@gmail.com
[core]
	excludesfile = ./.gitignore
	pager = lv -c
[diff]
	tool = vimdiff
