[alias]
	co = checkout
	st = status -s
	diff = diff -w
	df = diff -w --word-diff=color
	df-narrow = diff -w --word-diff=color --word-diff-regex=.
	df-files = diff --name-only
	lg = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
    merge = merge --no-ff
	today = log --oneline --since='12 hour ago' --author='tanaka' --all

[core]
	excludesfile = /Users/tanaka/.gitignore_global
	pager = lv -c
	autocrlf = false
	filemode = false
[diff]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = tanaka
	email = tanaka@chatwork.co.jp
[color]
	ui = false
